CMakeFiles
_deps
_cmrc
Debug
Release
x64
.vs
build.ninja
*.vcxproj
*.vcxproj.filters
*.cmake
*.sln
*.pdb
*.tlog
*.exe
*.clang-format
*.recipe
*.obj
*.ilk
*.log
*.dll
*.cmake
*.vcxproj.user
CMakeCache.txt
*.lib
*.png
*.ninja_deps
*.ninja_log
*.a